.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  .result-item {
    border-radius: 16px;
    background-color: lavender;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;

    div {
      &:first-child {
        display: flex;
        padding: 0 20px;
        justify-content: space-around;
      }

      &:last-child {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 8px;

        span {
          color: white;
          width: 28px;
          display: inline-block;
          border-radius: 14px;
          opacity: 0;
          animation-name: fadeIn;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
        }

        .item-1 {
          animation-delay: 0s;
          animation-duration: 1s;
        }

        .item-2 {
          animation-delay: 0.5s;
          animation-duration: 1s;
        }

        .item-3 {
          animation-delay: 1s;
          animation-duration: 1s;
        }

        .S {
          background-color: green;
          font-size: 20px;
          padding: 4px;
        }

        .B {
          font-size: 20px;
          padding: 4px;
          background-color: goldenrod;
        }

        .OUT,
        .out {
          font-size: 14px;
          background-color: red;
          padding: 7px 0;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
