.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  .result-item {
    border-radius: 16px;
    background-color: lavender;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
